[submodule ".emacs.d/haskell-mode"]
	path = .emacs.d/haskell-mode
	url = http://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/expand-region"]
	path = .emacs.d/expand-region
	url = http://github.com/magnars/expand-region.el
[submodule ".emacs.d/ghc-mod"]
	path = .emacs.d/ghc-mod
	url = http://github.com/kazu-yamamoto/ghc-mod.git
[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = http://github.com/technomancy/clojure-mode.git
