[submodule ".emacs.d/haskell-mode"]
	path = .emacs.d/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/expand-region"]
	path = .emacs.d/expand-region
	url = https://github.com/magnars/expand-region.el
